SECRET_KEY="de-5_@2__!@=xd1-891#q7cq(6t$bfbo=i&2lm5(bf_7)lab2eh*("
DEBUG="true"

EMAIL_BACKEND="django.core.mail.backends.smtp.EmailBackend"
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER="example@gmail.com"
EMAIL_HOST_PASSWORD="xxxxxxxx"
DEFAULT_FROM_EMAIL="example@gmail.com"
